---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import ProfileDocument from "../../components/ProfileDocument";
---

<Layout title="Home">
	<div>
		<Navbar client:load />
		<ProfileDocument client:load />
	</div>
</Layout>
