---
import Layout from "../../layout/Layout.astro";
import Navbar from "../../components/Navbar";
import University from "../../components/University";
---

<Layout title="University">
	<div>
		<Navbar client:only="react" />
		<University client:only="react" />
	</div>
</Layout>
